<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="one-third column" style="text-align: left;">
                {{ site.name }} <br/>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a> <br/>
                {% if site.github_username %} {% include icon-github.html username=site.github_username %} {% endif %}
            </div>
            <div class="one-third column" style="text-align: left;">
                {{ site.description[page.lang] }}
            </div>
            <div class="one-third column" style="text-align: left;">
                {% assign pages=site.pages | where:"lang", page.lang | where_exp:"item", "item.fmenu > 0" | sort: "fmenu" %} {% for my_page in pages %} {%
                if my_page.title %}
                <a class="fnavbar-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a><br/>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</footer>