<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="table-container">
    <div class="table-block footer-push">
      <!-- Primary Page Layout
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="container">
        {% include header.html %}
        <div class="row">
          <div class="twelve columns" style="padding-top: 40px;">
            {{ content }}
          </div>
        </div>
      </div>
      <!-- end primary div.container -->
    </div>
    <!-- end primary div.table-block -->
    <div class="table-block">
      <!-- Page Footer Layout
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {% include footer.html %}
      <!-- end footer div.container -->
    </div>
    <!-- end footer div.table-block -->
  </div>
</body>

</html>